{% extends "auctions/layout.html" %}

{% block body %}    
    <!-- add/remove from watchlist -->
    {% if user.is_authenticated %}
      <form action="{% url 'add-remove-watchlist' listing.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="{{ watchlist_message }}" class="btn btn-small btn-primary watchlist-button mb-5">
      </form>
    {% endif %}
    
    <!-- start listing section -->
    <h1 class="mb-4">{{ listing.title }}</h1>
    
    <div class="row listing-container">
      <div class="col-md-3">
        <img src="{{ listing.photo }}" alt="Photo of {{ listing.title }}" class="img-small">
      </div>
      <div class="col-md-9">
        <h3>${{ listing.price }}</h3>

        <!-- End auction button -->
        {% if user_is_creator and listing.status %}
          <form action="{% url 'close-listing' listing.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn btn-small btn-danger mb-3" value="End Auction">
          </form>
        {% endif %}
        
        <!-- display auction winner if there's a bid is closed -->
        {% if max_bid.bidder == user and not listing.status %}

        <div class="alert alert-primary" role="alert">
            You won the auction!
        </div>
        {% elif max_bid and not listing.status %}
          <h4>Auction Winner: {{ max_bid.bidder.username }}</h4>
        {% elif not max_bid and not listing.status %}
          <div class="alert alert-primary" role="alert">
            Auction closed!
          </div>
        {% endif %}

        <p><b>Description: </b>{{ listing.description }}</p>
        <p><b>Listed: </b>{{ listing.date }}</p>
        <p><b>Listed by: </b>{{ listing.user.username }}</p>
      </div>
    </div>

    {% if user.is_authenticated %}

      <!-- show bid form if listing is active -->
      {% if listing.status and not user_is_creator %}     
        <h3>Place a bid</h3>
        <form action="{% url 'bid' listing.id %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input type="number" min="0" required name="price" class="form-control" max="1000000"placeholder="Bid Amount">
          </div>
          <input type="submit" value="Submit" class="btn btn-sm btn-primary">
        </form>
      {% endif %}

      <h3 class="mt-5 mb-4">Bid History</h3>
      <table class="table table-striped">
        <tr>
          <th>Username</th>
          <th>Bid Amount</th>
        </tr>
      {% for bid in bids %}
        <tr>
          <td>{{ bid.bidder.username }}</td> 
          <td>${{ bid.price }}</td>
        </tr>
      {% endfor %}
      </table>
      
      <h3 class="mt-5 mb-4">Leave a Comment</h3>
      <div class="comment-section">
      <form action="{% url 'comment' listing.id %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
          <input type="text" required name="comment_text" class="form-control" maxlength="256" placeholder="Comment">
          <div class="input-group-append">
            <input type="submit" value="Send" class="btn btn-input btn-primary">
          </div>
        </div>
      </form>

      <h3 class="mt-5 mb-4">Comments</h3>
      {% for comment in comments %}
          <div class="border rounded mb-2">
            <p class="m-2 d-flex justify-content-between"><b>{{ comment.user.username }}</b> {{ comment.date }}</p>
            <hr class="mt-0 mb-2">
            <div class="p-2">{{ comment.comment }}</div>
          </div>
      {% endfor %}
      </div>

    {% endif %}

{% endblock %}